---
import type { Props } from "@astrojs/starlight/props";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Image } from "astro:assets";
import { Icon } from "@astrojs/starlight/components";

//contributors
import contrib_1 from "../images/contributors/leref.png";
import contrib_2 from "../images/contributors/USERSATOSHI.png";
import contrib_3 from "../images/contributors/fafa.png";
import contrib_4 from "../images/contributors/blur.png";
import contrib_5 from "../images/contributors/wiltark.png";
import contrib_6 from "../images/contributors/astrookai.png";
import contrib_7 from "../images/contributors/snow.png";
import contrib_8 from "../images/contributors/nanotechpikachu.png";
import contrib_9 from "../images/contributors/relevantzone.png";

//staff (cm above)
import staff_1 from "../images/contributors/dodogames.png";
import staff_2 from "../images/contributors/supreme.gif";

//aoi.js logo
import hero_icon from "../images/error_2_icon.png";
import hover_icon from "../images/hero_icon.png";
---

<StarlightPage
  frontmatter={{ title: "Contributors", description: "Our beloved Contributors.", tableOfContents: false }}
  hasSidebar={false}
>
    <div class="contribute-header">
        <p>Everyone on this page deserves a huge thanks.</p>
         <p>Thank you for contributing to this project.</p>
    </div>
  <div class="contributors">
    {
      [
        {
          name: "Leref",
          discord: "@leref",
          role: "Creator",
          color: "#ff0007",
          avatar: contrib_1,
          link: {
            url: "https://github.com/leref",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "USERSATOSHI",
          discord: "@usersatoshi",
          role: "Developer",
          color: "#8f00ee",
          avatar: contrib_2,
          link: {
            url: "https://github.com/usersatoshi",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "Fafa",
          discord: "@faf4a",
          role: "Docs Manager",
          color: "#3498db",
          avatar: contrib_3,
          link: {
            url: "https://github.com/faf4a",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "Blur",
          discord: "@bumblebee_3",
          role: "Developer",
          color: "#8f00ee",
          avatar: contrib_4,
        },
        {
          name: "dodogames",
          discord: "@dodogames",
          role: "Community Manager",
          color: "#e71d99",
          avatar: staff_1,
          link: {
            url: "https://github.com/DodoGames7",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "b3lla.x",
          discord: "@b3lla.x",
          role: "Artist",
          color: "#e8d0cc",
          avatar: contrib_7,
          link: {
            url: "https://x.com/snowtealatte",
            label: "Twitter",
            type: "twitter",
          },
        },
        {
          name: "Wiltark",
          discord: "@wiltark",
          role: "Developer",
          color: "#8f00ee",
          avatar: contrib_5,
          link: {
            url: "https://github.com/wiltark",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "AstrooKai",
          discord: "@astrookai",
          role: "Docs Manager",
          color: "#3498db",
          avatar: contrib_6,
          link: {
            url: "https://github.com/AstrooKai",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "Kino",
          discord: "@relevantzone",
          role: "Contributor",
          color: "#c5fff8",
          avatar: contrib_9,
        },
        {
          name: "NanotechPikachu",
          discord: "@nanotechpikachu",
          role: "Contributor",
          color: "#c5fff8",
          avatar: contrib_8,
          link: {
            url: "https://github.com/NanotechPikachu",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "Supreme",
          discord: "@supremesupreme",
          role: "Moderator",
          color: "#6461f6",
          avatar: staff_2,
          link: {
            url: "https://github.com/berticulousnert",
            label: "Github Profile",
            type: "github",
          },
        },
      ].map((user) => (
        <div class="contributor">
          <Image
            draggable="false"
            src={user.avatar}
            class="avatar"
            alt="Contributor Avatar"
            loading="eager"
            decoding="async"
          />
          <div class="info">
            <div class="wrapper">
              <p class="name">{user.name}</p>
              <p class="discord">{user.discord}</p>
              <div class="role-wrapper">
                <span class="role" style={`color: ${user.role === "Contributor" || user.role === "Artist" ? "black" : "white"}; background-color: ${user.color};`}>
                  @ {user.role}
                </span>
                {user.link && (
                  <a href={user.link.url} target="_black" class="link-button">
                    <Icon
                      name={
                        user.link.type === "twitter"
                          ? "twitter"
                          : user.link.type === "github"
                            ? "github"
                            : "external"
                      }
                    />
                    {user.link.label}
                  </a>
                )}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div class="contribute-footer">
    <p>Want to be on this page as well?</p>
    <p>
      Contribute to <a href="https://github.com/AkaruiDevelopment/aoi.js" target="_blank">aoi.js</a> or our <a
        href="https://github.com/aoijs/website" target="_blank">documentation</a
      >!
    </p>
    <div class="logo">
      <Image
        draggable="false"
        src={hero_icon}
        alt="aoi.js Mascot"
        style="display: block; cursor: pointer;"
        id="logo-normal"
        loading="eager"
        decoding="async"
      />
      <Image
        draggable="false"
        src={hover_icon}
        alt="aoi.js Mascot"
        style="display: none; cursor: grab;"
        id="logo-hover"
        loading="eager"
        decoding="async"
      />
    </div>
  </div>
</StarlightPage>

<style is:global>
  .page {
    background:
      linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
      radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
        105vw 200vh,
      radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
        calc(100% + 20rem) / 60rem 30rem;
  }

  header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }

  img {
    filter: drop-shadow(0 0 1rem var(--overlay-blurple));
  }

  svg {
    display: inline-block !important;
  }

  .contributor:last-child:nth-child(odd),
  .contributor:last-child:nth-child(even) {
    grid-column: span 2;
    justify-self: center;
  }

  .contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
  }

  .contributor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 100%;
    max-width: 500px;
  }

  .contributor:hover {
    transition: all 0.3s ease-in;
    filter: drop-shadow(0 0 7rem var(--sl-color-accent-high));
  }

  .avatar {
    height: 10rem;
    width: 10rem;
    border-radius: 20%;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--sl-color-hairline);
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .name {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }

  .role {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid var(--sl-color-hairline);
    cursor: default;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 0.8rem;
  }

  .link-button {
    display: inline-block;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--sl-color-hairline);
    background-color: grey;
    color: white !important;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 4px;
  }

  .link-button:hover {
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--sl-color-accent);
    background-color: var(--sl-color-accent);
    filter: drop-shadow(0 0 2rem var(--sl-color-accent));
  }

  .discord {
    margin-top: 0 !important;
    font-size: 1rem;
    color: gray;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 2rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .role-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contribute-footer {
    margin-top: 10rem !important;
    text-align: center;
  }

  .contribute-header {
    margin-bottom: 5rem;
    background: var(--overlay-blurple);
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
  }

  .logo {
    margin: 0 auto;
    width: 100px;
    height: auto;
    cursor: pointer;
  }
</style>

<script is:inline>
  const normal = document.getElementById("logo-normal");
  const hover = document.getElementById("logo-hover");

  normal.addEventListener("mouseover", () => {
    normal.style.display = "none";
    hover.style.display = "block";
  });

  hover.addEventListener("mouseout", () => {
    hover.style.display = "none";
    normal.style.display = "block";
  });
</script>
