---
import type { Props } from "@astrojs/starlight/props";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Image } from "astro:assets";
import { Icon } from "@astrojs/starlight/components";

async function fetchContributors() {
  const responses = await Promise.all([
    fetch("https://api.github.com/repos/aoijs/aoi.js/contributors"),
    fetch("https://api.github.com/repos/aoijs/website/contributors"),
    fetch("https://api.github.com/repos/aoijs/aoi.panel/contributors"),
    fetch("https://api.github.com/repos/aoijs/aoi.music/contributors"),
  ]);

  const contributorsArray = await Promise.all(responses.map(response => {
    if (!response.ok) {
      console.error(`Error fetching contributors: ${response.statusText}`);
      return [];
    }
    return response.json();
  }));

  return contributorsArray.flat();
}

const prod = import.meta.env?.PUBLIC_ENV as string;
let allContributors = [];
if (prod !== "production") {
  allContributors = [
    {
      login: "Github User",
      avatar_url: "",
      contributions: 100,
    },
  ];
} else {
  allContributors = await fetchContributors();
}
let contributors = [];
if (Array.isArray(allContributors)) {
  contributors = allContributors
    .filter((user: any) => !user.bot)
    .sort((a: any, b: any) => b.contributions - a.contributions);

  const map = new Map();
  for (const contributor of contributors) {
    map.set(contributor.login, contributor);
  }
  contributors = Array.from(map.values());

  const developers = [
    "Leref",
    "USERSATOSHI",
    "Faf4a",
    "supremesupreme",
    "Bumblebee-3",
  ];

  contributors.map((user: any) => {
    user.role = developers.includes(user.login) ? "Maintainer" : "Contributor";
  });
}

---

<StarlightPage
  frontmatter={{
    title: "Contributors",
    description: "Our beloved Contributors.",
    tableOfContents: false,
  }}
  hasSidebar={false}
>
  <div class="contributors">
    {
      contributors.map((user: any) => (
        <div class="contributor" id={user.login}>
          <Image
            src={user.avatar_url || "https://cdn.discordapp.com/embed/avatars/0.png"}
            class="avatar"
            alt="Contributor Avatar"
            loading="eager"
            decoding="async"
            width={82}
            height={82}
          />
          <div class="info">
            <div class="wrapper">
              <p class="name">{user.login}</p>
              <p class="discord">{user.login}</p>
              <div class="role-wrapper">
                <span
                  class="role"
                  style={{
                    backgroundColor:
                      user.role === "Maintainer" ? "#8f00ee" : "#c5fff8",
                  }}
                >
                  @ {user.role}
                </span>
                <a
                  href={`https://github.com/${user.login}`}
                  target="_blank"
                  class="link-button"
                >
                  <Icon class="not-content" name="github" />
                  Github Profile
                </a>
              </div>
            </div>
          </div>
        </div>
      )) ?? "Failed to get the contributors, sorry."
    }
  </div>
  <div class="contribute-footer">
    <p>
      All art belongs to <a href="#b3lla.x"
        >our artist, <b>b3lla.x</b> (also known as Snow)</a
      >.
    </p>
    <p>Want to be on this page as well?</p>
    <p>
      Contribute to <a href="https://github.com/aoijs/aoi.js" target="_blank"
        >aoi.js</a
      > or our <a href="https://github.com/aoijs/website" target="_blank"
        >documentation</a
      >!
    </p>
  </div>
</StarlightPage>

<style is:global>
  :target {
    transition: all 0.3s ease-in;
    filter: drop-shadow(0 0 7rem var(--sl-color-accent-high));
    border: 3px solid var(--sl-color-accent-high);
    padding: 15px;
    border-radius: 10px;
  }
  .page {
    background:
      linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
      radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
        105vw 200vh,
      radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
        calc(100% + 20rem) / 60rem 30rem;
  }

  header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }

  img:not(.site-title img) {
    filter: drop-shadow(0 0 1rem var(--overlay-blurple));
  }

  a svg {
    display: inline-block !important;
  }

  .contributor:last-child:nth-child(odd),
  .contributor:last-child:nth-child(even) {
    grid-column: span 2;
    justify-self: center;
  }

  .contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
  }

  .contributor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 100%;
    max-width: 500px;
  }

  .contributor:hover {
    transition: all 0.3s ease-in;
    filter: drop-shadow(0 0 7rem var(--sl-color-accent-high));
  }

  .avatar {
    height: 10rem;
    width: 10rem;
    border-radius: 20%;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--sl-color-hairline);
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .name {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }

  .role {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid var(--sl-color-hairline);
    cursor: default;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 0.8rem;
  }

  .link-button {
    display: inline-block;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--sl-color-hairline);
    background-color: grey;
    color: white !important;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 4px;
  }

  .link-button:hover {
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--sl-color-accent);
    background-color: var(--sl-color-accent);
    filter: drop-shadow(0 0 2rem var(--sl-color-accent));
  }

  .discord {
    margin-top: 0 !important;
    font-size: 1rem;
    color: gray;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 2rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .role-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contribute-footer {
    margin-top: 10rem !important;
    text-align: center;
  }
</style>
