---
import type { Props } from "@astrojs/starlight/props";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Image } from "astro:assets";
import { Icon } from "@astrojs/starlight/components";

const images = import.meta.glob("/src/images/**/*.{webp,png,gif}");

/* Dynamically import images
 * https://docs.astro.build/en/recipes/dynamically-importing-images/
*/
async function getImageSrc(e: string) {
  const imageInfo: any = images[e]();
  return imageInfo;
}
---

<StarlightPage
  frontmatter={{
    title: "Contributors",
    description: "Our beloved Contributors.",
    tableOfContents: false,
  }}
  hasSidebar={false}
>
  <div class="contributors">
    {
      [
        {
          name: "Leref",
          discord: "@leref",
          role: "Creator",
          color: "#ff0007",
          avatar: getImageSrc("/src/images/contributors/leref.png"),
          link: {
            url: "https://github.com/leref",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "USERSATOSHI",
          discord: "@usersatoshi",
          role: "Core Developer",
          color: "#8f00ee",
          avatar: getImageSrc("/src/images/contributors/USERSATOSHI.png"),
          link: {
            url: "https://github.com/usersatoshi",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "Fafa",
          discord: "@faf4a",
          role: "Core Developer",
          color: "#8f00ee",
          avatar: getImageSrc("/src/images/contributors/fafa.png"),
          link: {
            url: "https://github.com/faf4a",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "Supreme",
          discord: "@supremesupreme",
          role: "Core Developer",
          color: "#8f00ee",
          avatar: getImageSrc("/src/images/contributors/supreme.gif"),
          link: {
            url: "https://github.com/berticulousnert",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "Blur",
          discord: "@bumblebee_3",
          role: "Extension Developer",
          color: "#ffa5ea",
          avatar: getImageSrc("/src/images/contributors/blur.png"),
        },
        {
          name: "Wiltark",
          discord: "@wiltark",
          role: "Extension Developer",
          color: "#ffa5ea",
          avatar: getImageSrc("/src/images/contributors/wiltark.png"),
          link: {
            url: "https://github.com/wiltark",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "lordduck",
          discord: "@lordex.js",
          role: "Extension Developer",
          color: "#ffa5ea",
          avatar: getImageSrc("/src/images/contributors/lordexjs.webp"),
        },
        {
          name: "AstrooKai",
          discord: "@astrookai",
          role: "Docs Manager",
          color: "#3498db",
          avatar: getImageSrc("/src/images/contributors/astrookai.png"),
          link: {
            url: "https://github.com/AstrooKai",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "b3lla.x",
          discord: "@b3lla.x",
          role: "Artist",
          color: "#e8d0cc",
          avatar: getImageSrc("/src/images/contributors/snow.png"),
          link: {
            url: "https://x.com/snowtealatte",
            label: "x.com",
            type: "x.com",
          },
        },
        {
          name: "dodogames",
          discord: "@dodogames",
          role: "Community Manager",
          color: "#e71d99",
          avatar: getImageSrc("/src/images/contributors/dodogames.png"),
          link: {
            url: "https://github.com/DodoGames7",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "ahoemi.official",
          discord: "@ahoemi.official",
          role: "Contributor",
          color: "#c5fff8",
          avatar: getImageSrc("/src/images/contributors/ahoemi.png"),
          link: {
            url: "https://discord.com/users/715852000096419900",
            label: "Discord Profile",
            type: "discord",
          },
        },
        {
          name: "ayaka068198",
          discord: "@ayaka068198",
          role: "Contributor",
          color: "#c5fff8",
          avatar: getImageSrc("/src/images/contributors/ayaka068198.webp"),
          link: {
            url: "https://github.com/Ayaka2356",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "Kino",
          discord: "@relevantzone",
          role: "Contributor",
          color: "#c5fff8",
          avatar: getImageSrc("/src/images/contributors/relevantzone.png"),
        },
        {
          name: "NanotechPikachu",
          discord: "@nanotechpikachu",
          role: "Contributor",
          color: "#c5fff8",
          avatar: getImageSrc("/src/images/contributors/nanotechpikachu.png"),
          link: {
            url: "https://github.com/NanotechPikachu",
            label: "Github Profile",
            type: "github",
          },
        },
        {
          name: "vishvaas",
          discord: "@vishvaas",
          role: "Contributor",
          color: "#c5fff8",
          avatar: getImageSrc("/src/images/contributors/vishvaas.png"),
        },
      ].map((user) => (
        <div class="contributor" id={user.name}>
          <Image
            draggable="false"
            src={user.avatar}
            class="avatar"
            alt="Contributor Avatar"
            loading="eager"
            decoding="async"
          />
          <div class="info">
            <div class="wrapper">
              <p class="name">{user.name}</p>
              <p class="discord">{user.discord}</p>
              <div class="role-wrapper">
                <span
                  class="role"
                  style={`color: ${user.role === "Contributor" || user.role === "Artist" || user.role === "Extension Developer" ? "black" : "white"}; background-color: ${user.color};`}
                >
                  @ {user.role}
                </span>
                {user.link && (
                  <a href={user.link.url} target="_blank" class="link-button">
                    <Icon
                      class="not-content"
                      name={
                        user.link.type === "twitter" || user.link.type === "x.com"
                          ? "x.com"
                          : user.link.type === "github"
                            ? "github"
                            : user.link.type === "discord"
                              ? "discord"
                              : "external"
                      }
                    />
                    {user.link.label} {user.link.label === "x.com" ? "(formally known as Twitter)" : ""}
                  </a>
                )}
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <div class="contribute-footer">
    <p>All art belongs to <a href="#b3lla.x">our artist, <b>b3lla.x</b> (also known as Snow)</a>.</p>
    <p>Want to be on this page as well?</p>
    <p>
      Contribute to <a href="https://github.com/aoijs/aoi.js" target="_blank"
        >aoi.js</a
      > or our <a href="https://github.com/aoijs/website" target="_blank"
        >documentation</a
      >!
    </p>
    <div class="footer-icon">
      <Image
        draggable="false"
        src={getImageSrc("/src/images/icon_new.webp")}
        alt="aoi.js Mascot"
        loading="eager"
        decoding="async"
        data-zoom-off
      />
    </div>
  </div>
</StarlightPage>

<style is:global>

  :target {
    transition: all 0.3s ease-in;
    filter: drop-shadow(0 0 7rem var(--sl-color-accent-high));
    border: 3px solid var(--sl-color-accent-high);
    padding: 15px;
    border-radius: 10px;
  }
  .page {
    background:
      linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
      radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
        105vw 200vh,
      radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
        calc(100% + 20rem) / 60rem 30rem;
  }

  header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }

  img:not(.site-title img) {
    filter: drop-shadow(0 0 1rem var(--overlay-blurple));
  }

  a svg {
    display: inline-block !important;
  }

  .contributor:last-child:nth-child(odd),
  .contributor:last-child:nth-child(even) {
    grid-column: span 2;
    justify-self: center;
  }

  .contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
  }

  .contributor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 100%;
    max-width: 500px;
  }

  .contributor:hover {
    transition: all 0.3s ease-in;
    filter: drop-shadow(0 0 7rem var(--sl-color-accent-high));
  }

  .avatar {
    height: 10rem;
    width: 10rem;
    border-radius: 20%;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--sl-color-hairline);
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .name {
    margin: 0;
    font-size: 2rem;
    text-align: center;
  }

  .role {
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid var(--sl-color-hairline);
    cursor: default;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 0.8rem;
  }

  .link-button {
    display: inline-block;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--sl-color-hairline);
    background-color: grey;
    color: white !important;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 4px;
  }

  .link-button:hover {
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--sl-color-accent);
    background-color: var(--sl-color-accent);
    filter: drop-shadow(0 0 2rem var(--sl-color-accent));
  }

  .discord {
    margin-top: 0 !important;
    font-size: 1rem;
    color: gray;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-left: 2rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .role-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contribute-footer {
    margin-top: 10rem !important;
    text-align: center;
  }

  .footer-icon {
    margin: 0 auto;
    cursor: default;
    width: 100px;
    height: auto;
  }
</style>
